body {
	color: #23272A;
  margin: 0px;
  font-family: 'Segoe UI', Helvetica, Arial;
	background-color: white;
  background-size: 100%;
  min-height: 100vh;
  flex-direction: column;
  font-weight: normal;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

h4 {
	font-weight: normal;
}

h5 {
	font-weight: normal;
}

h6 {
	font-weight: normal;
}

.main {
  padding-bottom: 30%;
-webkit-padding-after: 30%;
  text-align: center;
}

a {
  color: #4286f4;
  text-decoration: none;
  transition: 0.3s;
}

.navbar {
  /*text-transform: uppercase;*/
  padding: 10px 5%;
  color: white !important;
  font-size: 22px;
  margin-bottom: 7.5%;
	background-color: rgb(51, 103, 214);
}

.navbar a {
  color: white !important;
  text-decoration: none;
  transition: 0.3s;
  margin: 0px 20px;
}

.navbar a:hover {
  text-decoration: none;
  transition: 0.3s;
}

.navbar img {
  width: 25px;
  height: 25px;
  position: relative;
  left:-5px;
  top: 3.5px;
}

.content {
  padding: 30px;
}

.title {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

hr {
  margin: 30px 2.5%;
  border: 1px solid #23272A;
}

.caption {
  color: gray;
  font-size: 12px;
}

.footer {
  padding: 10px 5%;
  background-color: white;
  color: #23272A !important;
  padding-bottom: 40px !important;
}

/*.footer a, p, h1, h2, h3, h4, h5, h6, span {
	color: #23272A !important;
}*/

.inset {
  height: 300px;
  width: 260px;
  padding: 22px;
  margin: 22px 16px 0px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #23272A;
	text-align: left;
	transition: 0.3s;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  align-items: center;
}

.inset:hover {
  box-shadow: 0 0 6px rgba(66,134,244, 0.5);
  border-color: #4286f4;
}

.stripe-inset {
  border: 1px solid #ddd;
  margin: 5px;
  border-radius: 5px;
  padding: 7px 15px;
  background: repeating-linear-gradient( -45deg, #F5F5F4, #f5f5f5 15px, #f1f1f1 15px, #f1f1f1 30px);
  margin-bottom: 15px;
  position: absolute;
}

button {
	font-family: 'Segoe UI', Helvetica, Arial;
	font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
	padding: 15px 35px;
	color: #0081D5;
	border: 1px solid #0081D5;
	border-radius: 5px;
	margin: 5px;
	background-color: white;
  transition: 0.3s;
}

button:hover {
  color: white;
	background-color: #0081D5;
}

.context {
	color: #23272A !important;
  background-color: #f7f7f7;
  padding: 2.5%;
  transition: 0.3s;
  text-align: center;
}

.inset-area {
	margin: 10px 2.5%;
	align-items: center;
  justify-content: center;
  align-items: center;
	display: flex;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-box-align: stretch;
}

@media (max-width: 550px) {
  
	#social-media {
    float: initial !important;
  }
  
  #footer-logo {
    float: initial !important;
  }
  
  .main {
    margin-bottom: 42.5%;
    -webkit-margin-after: 42.5%;
  }
	
	.inset {
		margin: 40px 0px;
	}
}

.text-badge {
  background-color: #28B3CA;
  color: white;
  border: 1px solid #28B3CA;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 1px 2px;
  position: relative;
  left: 3px;
  vertical-align: middle;
	letter-spacing: 0px;
 }

.unsupported-browser-notif {
  background-color: #0081D5;
  color: white;
  padding: 10px;
  text-align: center;
}

.os-icon {
	width: 32px;
  height: 32px;
  margin: 0px 5px;
}

.os-icon-container {
  vertical-align: bottom;
  padding: 0px;
  margin: 0px;
}

.container {
	border: 1px solid #C9D3DF;
  border-radius: 4px;
  background-color: white;
  margin: 10px;
  padding: 0px;
}

.container-header {
  margin: 0px;
  border-bottom: 1px solid #C9D3DF;
  background-color: #EBEFF3;
  padding: 5px;
}

.container-content {
  margin: 0px;
  padding: 5px;
}

.main-container {
	overflow: hidden;
}

.arrow-down {
	cursor: pointer;
  width: 26px;
  height: 26px;
  background: white url("https://nanomotion.github.io/assets/img/arrow-down-2.svg") no-repeat center center;
  vertical-align: bottom;
  position: relative;
  top: -58px;
  text-align: center;
	transition: 0.3s;
	animation-name: float;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes float {
	0% {top:-58px;}
	10% {top: -59px;}
	20% {top: -61px;}
	30% {top: -64px;}
	40% {top: -65px;}
	55% {top: -66px;}
	70% {top: -64px;}
	90% {top: -61px;}
	90% {top: -59px;}
	100% {top: -58px;}
}
