@import url("https://fonts.googleapis.com/css?family=Product+Sans");

body {
  color: white;
  margin: 0px;
  font-family: 'Product Sans', 'Segoe UI', Helvetica, Arial;
  background: #2C2F33 url("https://nanomotion.github.io/assets/img/bg.svg") no-repeat center center; 
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
	flex: 1 0 auto;
  margin-bottom: 20%;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  text-transform: uppercase;
  padding: 7.5px;
  color: white !important;
  font-size: 22px;
  margin-bottom: 7.5%;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  margin: 0px 20px;
}

.navbar a:hover {
  text-decoration: none;
  transition: 0.3s;
}

.navbar img {
  width: 25px;
  height: 25px;
  position: relative;
  left:-5px;
  top: 3.5px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
	color: white;
}

.content {
  padding: 30px;
}

.title {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

hr {
  margin: 30px 2.5%;
  border: 1px solid white;
}

.caption {
  color: gray;
  font-size: 12px;
}

.footer {
  padding: 10px 5%;
  background-color: white;
  color: #23272A !important;
}

/*.footer a, p, h1, h2, h3, h4, h5, h6, span {
	color: #23272A !important;
}*/

.footer hr {
  margin: 15px 0px;
  border: 1px solid #8493A8;
}

.inset {
  margin: 30px 0px;
  padding: 30px;
  background-color: white;
  border: 1px solid #23272A;
  border-radius: 4px;
  color: #23272A;
}

button {
	font-family: 'Product Sans', 'Segoe UI', Helvetica, Arial;
	font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
	padding: 15px 35px;
	color: #0081D5;
	border: 1px solid #0081D5;
	border-radius: 5px;
	margin: 5px;
	background-color: white;
  transition: 0.3s;
}

button:hover {
  color: white;
	background-color: #0081D5;
}

#shields {
  display: inline-block;
}

.context {
	color: black;
  background-color: white;
  padding: 2.5%;
}

@media (max-width: 550px) {
	#pro-tip-full {
    display: none !important;
  }
  
  #about {
    display: none !important;
  }
  
  #help-link {
    display: none !important;
  }
  
  #proj-link {
    display: none !important;
  }
  
	#social-media {
    float: initial !important;
  }
  
  #footer-logo {
    float: initial !important;
  }
  
  #shields {
    margin-top: 5%;
  }
}
  
  
