body {
  color: #232323;
  margin: 0px;
  font-family: 'Product Sans', 'Segoe UI', Helvetica, Arial;
}

a {
  color: #4286f4;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  text-transform: uppercase;
  padding: 5px;
  color: #232323 !important;
  background-color: white;
  font-size: 22px;
  margin-bottom: 15px;
}

.navbar a {
  color: #232323;
  text-decoration: none;
  transition: 0.3s;
  margin: 0px 20px;
}

.navbar a:hover {
  color: #595959;
  text-decoration: none;
  transition: 0.3s;
}

.navbar img {
  width: 25px;
  height: 25px;
  position: relative;
  left:-5px;
  top: 3.5px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.content {
  padding: 30px;
}

.title {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

hr {
  margin: 30px 2.5%;
  border: 1px solid #232323;
}

.caption {
  color: gray;
  font-size: 12px;
}

span {
  padding: 30px 5% 10px;
}
