body {
  margin: 0px;
  font-family: 'Product Sans', 'Segoe UI', Helvetica, Arial;
}

a {
  color: #4286f4;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  text-transform: uppercase;
  padding: 5px;
  color: #232323 !important;
  background-color: white;
  font-size: 22px;
}

.navbar a {
  color: #232323;
  text-decoration: none;
  transition: 0.3s;
  margin: 0px 10px;
}

.navbar a:hover {
  color: #191919;
  text-decoration: none;
  transition: 0.3s;
}
